Source: directxshadercompiler
Section: graphics
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>= 10),
 cmake,
 python3
Standards-Version: 4.1.2
Homepage: https://github.com/microsoft/DirectXShaderCompiler
Vcs-Git: https://github.com/microsoft/DirectXShaderCompiler
Vcs-Browser: https://github.com/microsoft/DirectXShaderCompiler

Package: dxc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The DirectX Shader Compiler is a compiler used
 to compile High-Level Shader Language (HLSL) programs into
 SPIR-V intermediate representation

Package: dxc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: llvm
Description: Development files: for the DirectX Shader
 Compiler project. The DirectX Shader Compiler is a compiler used
 to compile High-Level Shader Language (HLSL) programs into
 SPIR-V intermediate representation
