Source: dxc
Section: graphics
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>= 10),
 cmake,
 python3
Standards-Version: 4.1.2
Homepage: https://github.com/microsoft/DirectXShaderCompiler
Vcs-Git: https://github.com/microsoft/DirectXShaderCompiler
Vcs-Browser: https://github.com/microsoft/DirectXShaderCompiler

Package: dxc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 Description: <insert up to 60 chars description>
 The DirectX Shader Compiler project includes a compiler
 and related tools used to compile High-Level Shader Language
 (HLSL) programs into DirectX Intermediate Language (DXIL)
 representation. Applications that make use of DirectX for
 graphics, games, and computation can use it to generate
 shader programs.
